
:root {
    --primary: #390099;
    --primary-low: rgba(56, 0, 153, 0.45);
    --secondary: #0099ff;
    --secondary-low: rgba(0, 153, 255, 0.45);
    --danger: #ff0054;
    --danger-low: rgba(255, 0, 85, 0.45);
    --warning: #ffbd00;
    --warning-low: rgba(255, 187, 0, 0.45);
    --success: #00c542;
    --success-low: rgba(0, 197, 66, 0.45);
    --dark: #001d74;
    --dark-low: rgba(0, 29, 116, 0.25);
}


.details{
    position: absolute;
    bottom: 60px;
    left: 5px;
    width: 15%;
    border-radius: 5px;
    height: 10%;
    background-color: #cfeeeb;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search, .length{
    display: block;
    align-items: center;
}

.pathfinding-visualizer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.header {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 20%;
    transition: all 500ms ease-out;
    z-index: 1;
    padding-bottom: 30px;
    background: rgba( 99, 206, 194, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.blur{
    backdrop-filter: blur(5px);
}
.clear-btn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.danger{
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    background: linear-gradient(to right, #333333, #dd1818);
    color: #fff;
    border: none;
    text-decoration: none;
    box-shadow: 0px 5px 7px 0 #dd181833;
    cursor: pointer;
}
.danger:focus{
    outline: none;
}
.drop{
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    box-shadow: 0px 5px 7px 0px #00000033;
}

select {
    height: 40px;
    background: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 2px;
    border-radius: 3px;
    border: none;
    width: fit-content;
}

.btn {
    margin: 2px;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
}
.lg {
    display: block;
}
.sm {
    display: none;
}
.btn-setup {
    position: absolute;
    top: 30px;
    left: 10px;
}
.btn-setup:focus{
    outline: none;
}
.open{
    width: 55px;
	height: 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
	background-color: var(--secondary-low);
	overflow: hidden;
    cursor: pointer;
	transition: all 300ms ease-out;
}
.open:hover{
    width: 170px;
    background-color: var(--secondary);
}
.span {
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    transition: all 300ms ease-out;
    z-index: 2;
}
.span:hover{
    text-align: center;
    padding-top: 16px;
    padding-left: 16px;
    opacity: 1;
}
.btn-controls {
    position: absolute;
    top: 85px;
    left: 10px;
}
.btn-controls:focus{
    outline: none;
}
.second{
    background-color: #f0ad4ebf;
}
.second:hover{
    background-color: #f0ad4e;
}
.success{
    background-color: var(--success-low);
}
.success:hover{
    background-color: var(--success);
}

.btn-options{
    position: absolute;
    top: 30px;
    right: 10px;
}
.btn-options:focus{
    outline: none;
}
.icons{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 12px;
    z-index: 1;
}
.btn-camera {
    top: 170px;
}
.fallback-icon {
    display: none;
}

.maze-dropdown {
    position: relative;
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.btn-maze{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 5px 7px 0px #2c532c33;
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    color: #fff;
    cursor: pointer;
}
.btn-maze:focus{
    outline: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: fit-content;
    z-index: 2;
}

.dropdown-item {
    padding: 10px;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
    cursor: pointer;
}
.dropdown-item:hover {
    filter: brightness(0.9);
}

.accent{
    width: 80%;
    padding: 15px;
    margin: 20px 10% 0px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 5px 7px 0px #2c532c33;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: #fff;
    cursor: pointer;
}
.accent:focus{
    outline: none;
}
.info{
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 5px 7px 0px #2c532c33;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: #fff;
    cursor: pointer;
}
.btn-tutorial{
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 5px 7px 0px #2c532c33;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: #fff;
    cursor: pointer;
}